.table1{
	position:relative; 
	padding:0 0 0 450px; 
	box-sizing:boder-box;	
	margin-top:40px;
}
.table1 h2{
	font-size:24px;
	color:#232323;
	line-height:26px;
	padding: 0 0 20px;
	border-bottom:1px solid #333;
	margin: 0 0 15px;
}
.table1 .img{
	position:absolute;
	left:0;
	top:0;
}
.table1 table th,
.table1 table td{
	padding:14px 0;
	font-size:15px;	
	color:#444;
	text-align:left;
}
.table1 table td.price{
	font-size:22px;	
}
.table1 table td.total{
	font-size:19px;	
	color:#0a56a9;
}
.table1 table td.total b{
	font-size:22px;	
}
.table1 table p.tlength input {
	font-size:22px; 
	width:50px; 
	padding:5px; 
	margin:0; 
	border:1px solid #eee;
}
.table1 table p.tlength button  {
	font-size:26px; 
	border:none; 
	background:none; 
}
.table1 .tlength .numBox{
	width:55px;
}
.img img{
   	width:400px; 
   	height:350px; 
   	position:relative; 
   	top:50px;
   }
.table1 .tbtns{
	padding:45px 0 0;
	text-align:center;
}
.table1 .tbtns > button {
	display: inline-block;
	width:136px;
	height:42px;
	font-size:16px;
	color:#fff;
	border-radius:2px;
	line-height:42px;
}
.table1 .tbtns > button.tbtn1 {
	background: #666;
}
.table1 .tbtns > button.tbtn2 {
	background: #0a56a9;
	
}
.price1{
	font-size:19px; 
	color:#0a56a9; 
	width:95px
}
#tkdtp{
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
}





@media(max-width: 768px){
	#tkdtp img{
   		width:450px;
    }
}
@media(max-width: 768px){
	.table1{
   		position:relative; 
		padding:0 0 0 0; 
		box-sizing:boder-box;	
		margin-top:300px;
    }
}
@media(max-width: 768px){
	.table1 .img{
   		position:absolute;
		left:40px;
		top:-320px;
    }
}
@media(max-width: 768px){
	.img img{
   		height:250px; 
   }
}
@media(min-width: 1400px){
	.table1{
   		position:relative; 
		padding:0 0 0 800px; 
		box-sizing:boder-box;	
		margin-top:40px;
    }
}
@media(min-width: 1400px){
	.table1 .img{
   		position:absolute;
		left:300px;
    }
}
@media(min-width: 1400px){
	.table1 .tbtns{
   		position:relative;
		right:250px;
    }
}
